# Archivos de Bytecode de Python
__pycache__/
__pycache__
*.pyc

# Directorio de Entorno Virtual de Python
venv/

# Archivos de Base de Datos SQLite de Django
*.db

.vscode/


# Config
config.py

db.sqlite3