aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
anyio==3.6.2
asgiref==3.5.2
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.0
beautifulsoup4==4.11.1
blinker==1.5
boto3==1.26.81
botocore==1.29.81
Brotli==1.0.9
bs4==0.0.1
cachetools==5.3.0
captcha==0.4
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
decorator==5.1.1
dj-database-url==1.2.0
Django==4.0
django-recaptcha==3.0.0
docopt==0.6.2
entrypoints==0.4
fparser==0.0.16
frozenlist==1.3.3
gitdb==4.0.10
GitPython==3.1.30
gunicorn==20.1.0
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
idna==3.4
importlib-metadata==6.0.0
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.17.3
markdown-it-py==2.1.0
MarkupSafe==2.1.2
mdurl==0.1.2
multidict==6.0.4
numpy==1.24.1
openai==0.26.5
packaging==23.0
pandas==1.5.3
patsy==0.5.3
pipreqs==0.4.11
plotly==5.13.1
plotly-express==0.4.1
protobuf==3.20.3
psycopg2-binary==2.9.5
pycodestyle==2.10.0
pydeck==0.8.0
Pympler==1.0.1
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
requests==2.28.2
rfc3986==1.5.0
rich==13.3.1
s3transfer==0.6.0
scipy==1.10.0
semver==2.13.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
statsmodels==0.13.5
tenacity==8.1.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.14
validators==0.20.0
watchdog==2.2.1
whitenoise==6.4.0
yarg==0.1.9
yarl==1.8.2
zipp==3.12.0
